.statsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 388px 388px;
  gap: 20px;
  flex: 1;
  height: 100%;
}

.statsGrid > :nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
}

.statsGrid > :nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.statsGrid > :nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.statsGrid > :nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.statsGrid > :nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.statsGrid > :nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.dialogList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.dialogItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--montserrat-font);
  font-size: 14px;
  color: var(--font-color-primary);
}

.user {
  font-weight: 600;
  color: #6945ed;
}

.message {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time {
  font-family: var(--unbounded-font);
  font-size: 12px;
  color: #707991;
}

.status {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.status svg {
  margin-right: 5px;
}

.viewAllButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: var(--unbounded-font);
  font-size: 14px;
  color: var(--font-color-white);
  background-color: #6945ed;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.viewAllButton:hover {
  background-color: #5438c1;
}
