.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 388px;
  background: var(--gradient-background);
  backdrop-filter: blur(39.7px);
  border-radius: 15px;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(124, 197, 255, 0.6) 0deg,
    rgba(137, 143, 244, 0.6) 83.08deg,
    rgba(160, 134, 244, 0.6) 167.88deg,
    rgba(202, 108, 209, 0.6) 275.19deg,
    rgba(124, 197, 255, 0.6) 360deg
  );
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.title {
  font-family: var(--montserrat-font);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color-primary);
  margin: 0;
}
