* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Unbounded";
  font-display: swap;
  src: url("/assets/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --montserrat-font: "Montserrat", sans-serif;
  --unbounded-font: "Unbounded", sans-serif;
  --radial-gradient: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 10%,
    #3aadff 10%,
    #454ded 30%,
    #6945ed 50%,
    #a01cba 70%,
    #3aadff 100%
  );
  --linear-gradient-border: linear-gradient(
    180deg,
    #8e77e4 0%,
    rgba(142, 119, 228, 0) 100%
  );
  --gradient-heading-text: linear-gradient(0deg, #6945ed, #6945ed),
    linear-gradient(180deg, #af98ff 27.83%, #6945ed 85.64%);
  --blur-effect: blur(30px);
  --blur-effect-heavier: blur(38.7px);
  --gradient-background-blur: linear-gradient(
    232.68deg,
    rgba(255, 255, 255, 0.2) 5.05%,
    rgba(199, 189, 255, 0.2) 107.06%
  );

  --font-color-primary: #000000;
  --font-color-secondary: #6945ed;
  --font-color-white: #ffffff;
}
