.header {
  margin: 41px 38px;
  position: relative;
}

.headerBack {
  position: absolute;
  top: -41px;
  right: -38px;
  z-index: -1;
}

.navList {
  gap: 75px;
  margin: 0;
}

.navList > li {
  list-style: none;
}

.navList > li > a {
  font-family: var(--unbounded-font);
  font-size: 16px;
  color: var(--font-color-primary);
  text-decoration: none;
}

.navList > li > a:hover {
  color: var(--font-color-secondary);
}

.navList > li > a.active {
  color: var(--font-color-secondary);
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 45px;
}

.authButtons > a > button {
  font-family: var(--unbounded-font);
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.authButtons > a > button > svg {
  margin-right: 5px;
}

.authButtons > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-color-secondary);
  font-family: var(--montserrat-font);
  color: var(--font-color-white);
  font-size: 16px;
  font-weight: 500;
  padding: 25px 40px;
  border-radius: 50px;
  border: 1px solid var(--linear-gradient-border);
}
